/*joshua kaye csy1018 (assign1) - stylesheet.css*/

  body{ /*this is the body of the hypertext doc // will be the perent of the chilldren within it*/
    display: flex;/*we want to body to have a display of flex, so flexbox cmd is used*/
    flex-direction: column;/*displayng how we want the web page to be // this case a column so horzontial*/
    min-height: -100vh; /*percentage vh=Vertical and Horozontal margins*/
    margin: 0; /*Magin from top set to 0 */
    font-family: sans-serif; /*Defult Page Text*/
    color: #333;/*webpage body background*/
  }
/*Navigation Starts!!*/
/*navigation for larger screens*/
  .navigation{ /*navigation displaly*/
    flex-flow: row wrap; /*this use the whole width of the parent*/
    justify-content:center;
    flex: 1 0 auto; /* making sure the extra space is factored in by using flex-basies 1 0 auto*/
    list-style: none; /*getting rid of list style*/
    margin: 0; /*making the margin at top 0*/
    background-color: #ffffff;
    display: flex; /*defines what the container is = flex container*/
    display:-moz-box; /*making sure firefox reads the container correctly*/
    display: -ms-flexbox;/*making sure IE reads the container correctly*/
    display: -webkit-flex;
    -webkit-flex-flow:row wrap;
  }
  .navigation a { /*editing the style of the nav links (a tags)*/
    display: block; /*Display in block container*/
    text-decoration: none; /*get rid of link underline*/
    padding: 1em; /* spacing the elements by around 10px*/
    margin: 0; /*Added a margin of 3 to make it match up with hover to prevent resizing*/
    color: #232323; /*font colour in hex*/
    font-family: 'ABeeZee', sans-serif; /*google font*/
    border-top: 4px solid white;/*border-top: 6px solid white;/*Added an inviable elemeant to prevent moving or jittering*/
    -webkit-transition-duration: 0.9s ease;
    -moz-transition-duration: 0.9s ease;
    -o-transition-duration: 0.9s ease;
    transition: 0.9s ease;/*making the transition between this and hover fade. So basically an animation without the use of java*/
    white-space: nowrap;/*We want to make sure the content does not wrap onto another line*/
  }
  .navigation a:hover{ /* when <a> link is hovered over it will display this*/
    display: block;/*making sure the .nav is displyed as a block, I could have used block-inline*/
    text-decoration: none;/*making it so the text has no decoration, so underline ect.*/
    border-top: 4px solid #46c7ed;/*border will appear above link when hovered over // apperance solid line, with hex value color*/
    margin: 0;/*making the margin at top 0*/
  }
/*Navigation ENDS!!*/
  .container-one-jk{ /*container / parent under .navigation for intro content (img, header, text)*/
    display: flex;/*disply is flex*/
    flex-direction: column;/*Saying to container that we want it to displayed in a column not a row*/
    flex: 1 0 auto;/*Making the container whole width of the page*/
    width: 100%;/*full width of set ยง*/
    height: 650px;/*height of container*/
    background-color: #46c7ed;/*background of the container*/
  }
  .continer-one-image{/*The .img within the container*/
    align-self: center;
    width: 400px; /*width of the image*/
    height: 400px;/*height of the image*/
  }
  .container-items{
    align-items: center;
    list-style: none;/*Setting a style of none for the list*/
    margin: 0;/*marign of 0 to prevent any spacing*/
    padding: 125px;/*padding from top of set pixels*/
  }
  .text-cone{ /*Article within head wrapper*/
    margin-top: -250px;
    align-self: center;
    text-align: center;
    color: #f1f1f1;
  }
  .container-two-jk{/*conatiner for 3  items*/
    display: flex;
    flex-direction: row;
    height: 500px;
  }
  .main-wrapper{
    display:flex;
    flex-direction: row;
    margin: 5%;
    margin-top: 7.5%;
    width: 100%;
    height: 100%;
  }
  .article-left{/*article-left*/
    flex-grow: 1;
    margin-right: 2%;
    width: 33%;
    background-color: #e4e4e4;
  }
  .education-heading{
    color: #161616;
    font-size: 2em;
    margin-left: 8%;
  }
  .ul-eduction-uni{/*Uni list start*/
    list-style: none;
  }
  .li-eduction-uni{
    font-family: 'ABeeZee', sans-serif;
    color: #161616;
    font-size: 1.5em;
    font-weight: 600;
}
  .p-uni{
    color: #464646;
    margin-top: 2%;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    width: 90%;
  }/*Uni list end*/

  .ul-eduction-college{/*College list start*/
    list-style: none;
  }
  .li-eduction-college{
    font-family: 'ABeeZee', sans-serif;
    color: #161616;
    font-size: 1.5em;
    font-weight: bolder;
    transition: 0.9s;
  }
  .p-college{
    color: #464646;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    width: 90%;
  }/*College list end*/
  .ul-eduction-school{/*School list start*/
    list-style: none;
  }
  .li-eduction-school{
    font-family: 'ABeeZee', sans-serif;
    color: #161616;
    font-size: 1.5em;
    font-weight: bolder;
    transition: 0.9s;
  }
  .p-school{
    color: #464646;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    width: 90%;
  }/*School list end*/

  .article-middle{
    flex-grow: 1;
    margin-right: 2%;
    width: 33%;
    background-color: #e4e4e4;
  }
  .wrapper-work-experiance{
   display: flex;
   align-self: flex-start;
   flex-wrap: wrap;
   width:250px;
  }
  .li-work-experiance-tgr{
    margin-left: -20px;
    color: #464646;
    list-style: none;
    margin-top: 2%;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
  }
  .work-experiance-heading-one{
    display: inline-flex;
  }
  .button-article-middle{
    background-color: #46c7ed;
    color: black;
    border-radius: 5px;
    border: 5px solid #46c7ed; /* Green */
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .button-article-middle{
    display: inline-flex;
    background-color: #46c7ed;
    color: white;
    border: 2px solid #46c7ed;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .button-article-middle:hover{
    background-color: #f8f8f8;
    color: black;
    border: 2px solid #46c7ed;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .work-experiance-heading{
    margin-left: 8%;
    font-size: 2em;
    margin-right: 2%;
    width: 10%;
  }/*The Green Room END!!*/
  .li-work-experiance-behance-v1{
    margin-left: -20px;
    color: #464646;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2%;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
  }
  .work-experiance-heading-behance-v1{
    display: inline-flex;
  }

  .button-article-behance-v1{
    background-color: #46c7ed;
    color: black;
    border-radius: 5px;
    border: 5px solid #46c7ed; /* Green */
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .button-article-behance-v1{
    background-color: #46c7ed;
    color: white;
    border: 2px solid #46c7ed;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .button-article-behance-v1:hover{
    background-color: #f8f8f8;
    color: black;
    border: 2px solid #46c7ed;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .work-experiance-behance-v1{
    margin-left: 8%;
    font-size: 2em;
    margin-right: 2%;
    width: 10%;
  }/*behance-v1 END!!*/

  .li-work-experiance-behance-v2{
    margin-left: -20px;
    color: #464646;
    list-style: none;
    margin-top: 2%;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
  }
  .work-experiance-heading-behance-v2{
    display: inline-flex;
  }
  .button-article-behance-v2{
    background-color: #46c7ed;
    color: black;
    border-radius: 5px;
    border: 5px solid #46c7ed; /* Green */
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .button-article-behance-v2{
    background-color: #46c7ed;
    color: white;
    border: 2px solid #46c7ed;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .button-article-behance-v2:hover{
    background-color: #f8f8f8;
    color: black;
    border: 2px solid #46c7ed;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .work-experiance-behance-v2{
    margin-left: 8%;
    font-size: 2em;
    margin-right: 2%;
    width: 10%;
  }/*behance-v2 END!!*/


/*article right start*/
  .article-right{
    flex-grow: 1;
    width: 33%;
    background-color: #e4e4e4;
}
  .skills-heading{
    margin-left: 8%;
    font-size: 2em;
    margin-right: 2%;
    width: 10;
}
/*Joshua Kaye csy1018 (assign1) - Stylesheet.css*/


/*display sizes - @media content*/
  /*for larger displays*/
/*Page-content END!!*/
/*for medium displays*/
@media (max-width: 800px){
  .navigation {
    justify-content: space-around; /*Item equally distributed on a medium sized display by centering child content*/
  }
}





/* for small/med displays */
  /* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navigation {
      /* We change from row to column on smaller displays*/
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .navigation a{
      margin: 0;/*Added a margin of 5 to make it match up with hover to prevent resizing*/
      border-right: 5px solid white;/*Added an inviable elemeant to prevent moving or jittering*/
      border-top: none;
    }
    .navigation a:hover{
      /* We change from row to column on smaller displays*/
      flex-direction: column;
      margin: 0;/*Added a margin of 5 to make it match up with hover to prevent resizing*/
      border-top: none;/*Switches off top border when width of device is above 500px*/
      border-right: 5px solid #46c7ed;/*Makes it so border is now at the side when screen is below 501px*/
    }
    .container-items{
      display: flex;
      align-self: center;
      font-size: 0.9em;
      margin-left: 3%;
      width: 85%;
      margin-top:20%;
      height: 600px;
    }
  /*container one end!*/
    .container-two-jk{
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      font-size: 0.7em;
      max-width: 100%;
      align-content: center;
      margin-top: 100px;
    }
    .continer-one-image{
      margin-top: -60px;
      max-width: 100%;
      align-self: center;
    }
    .main-wrapper{/*container*/
      margin-top: -32px;
      height: 1000px;
      flex-grow: 1;
      display: flex;
      flex-flow: column;
    }
    .article-left{
      margin-top: -20px;
      flex-grow: 1;
      width: 100%;
      height: 100%;
    }/*education-container-end*/
    .article-middle{
      display: flex;
      margin-top: 5%;
      width: 100%;
      height: 100%;
    }
    /*work-experiance-end*/
    .article-right{
      flex-grow: 1;
      margin-top: 5%;
      width: 100%;
      height: 100%;
    }
  }

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .navigation {
      /* We change from row to column on smaller displays*/
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .navigation a{
      margin: 0;/*Added a margin of 5 to make it match up with hover to prevent resizing*/
      border-right: 5px solid white;/*Added an inviable elemeant to prevent moving or jittering*/
      border-top: none;
    }
    .navigation a:hover{
      /* We change from row to column on smaller displays*/
      flex-direction: column;
      margin: 0;/*Added a margin of 5 to make it match up with hover to prevent resizing*/
      border-top: none;/*Switches off top border when width of device is above 500px*/
      border-right: 5px solid #46c7ed;/*Makes it so border is now at the side when screen is below 501px*/
    }
    .container-items{
      display: flex;
      align-self: center;
      font-size: 0.9em;
      margin-left: 3%;
      width: 85%;
      margin-top:20%;
      height: 600px;
    }
  /*container one end!*/
    .container-two-jk{
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      font-size: 0.7em;
      max-width: 100%;
      align-content: center;
      margin-top: 100px;
    }
    .continer-one-image{
      margin-top: -60px;
      max-width: 100%;
      align-self: center;
    }
    .main-wrapper{/*container*/
      margin-top: -32px;
      height: 1000px;
      flex-grow: 1;
      display: flex;
      flex-flow: column;
    }
    .article-left{
      margin-top: -20px;
      flex-grow: 1;
      width: 100%;
      height: 100%;
    }/*education-container-end*/
    .article-middle{
      display: flex;
      margin-top: 5%;
      width: 100%;
      height: 100%;
    }
    /*work-experiance-end*/
    .article-right{
      flex-grow: 1;
      margin-top: 5%;
      width: 100%;
      height: 100%;
    }
  }

/* for smaller displays (iphone 6 or smaller) */
@media (max-width: 320px) {
  .navigation {
    /* We change from row to column on smaller displays*/
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .navigation a{
    margin: 0;/*Added a margin of 5 to make it match up with hover to prevent resizing*/
    border-right: 5px solid white;/*Added an inviable elemeant to prevent moving or jittering*/
    border-top: none;
  }
  .navigation a:hover{
    /* We change from row to column on smaller displays*/
    flex-direction: column;
    margin: 0;/*Added a margin of 5 to make it match up with hover to prevent resizing*/
    border-top: none;/*Switches off top border when width of device is above 500px*/
    border-right: 5px solid #46c7ed;/*Makes it so border is now at the side when screen is below 501px*/
  }

}


/* older devices rare (with a width of 160px) */
@media (max-width: 160px) {

}
